.content {  
  border-radius: 7px;
  padding: 15px;
  align-self: center;

  width: calc(100% - 15px);

  min-height: calc(80% - 15px*2);
  height: fit-content;
}

.title {
  text-align: center;
  font-size: 26px;
}

.representationCard {
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  background-color: gainsboro;

   .horizontalText {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    padding: 2rem;
    background-color: #222222;
    color: gainsboro;

    font-size: 24px;
  }
 
  .mainText {
    padding: 15px;
    font-size: 18px;
  }
}