.content {  
  align-self: center;

  width: 100%;

  min-height: calc(80% - 15px*2);
  height: fit-content;

}

.title {
  text-align: center;
  font-size: 26px;
  margin: 0;
  padding: 20px;
  color: whitesmoke;
  background-color: #222222;
}

.unmarkedList {

  &__item {
    margin: 10px 0;
  }
}
