.shaderbtntmp {
  margin: 10px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: white;
  text-shadow: 0px 0px 5px black;
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
  font-family: monospace;
}

.of-h {
  width: 100vw;
  height: 100vh;
  overflow: hidden !important;
}