.wrapper {
  width: 100%;
  height: 100vh;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fullScreenImage {
  width: 50%;
}