@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  font-family: 'Roboto';
  color: #1e1e1e;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;

  flex-flow: column nowrap; 
  justify-content: space-between;
}

.row {
  padding: 0 10px;
  width: calc(100% - 10px*2);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


  & > .col {  
    background-color: hotpink;
  }
}