@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
  margin: 0;
  padding: 0;

  min-height: 100vh;

  font-family: 'Roboto';
  color: #1e1e1e;
}

#root {
  width: 100%;
  height: 100%;

  display: flex;

  min-height: 100vh;

  flex-flow: column nowrap; 
  justify-content: space-between;
}

.row {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  & > .col {
    height: fit-content;
  }
}

.splitLine {
  border: none;
  width: 100%;
  height: 10px;
  background-color: #222222;
  margin: 0;

  @media screen and (max-width: 750px) {
    height: 20px;
  }

  @media screen and (max-width: 425px) {
    height: 40px;
  }
}

